@import "tailwindcss";
@plugin "daisyui";

@layer base {
  :root {
    color-scheme: light dark;
  }

  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #app {
    min-height: 100svh;
  }
}
